*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

/*body[data-overflow='hidden']{*/
/*  margin: 0 calc(-1 * (100vw - 100%)) 0 0;*/
/*}*/

#modal-cart[data-overflow='hidden']{
  margin-right: calc(1 * (100vw - 100%));
}
